.section-news {
    padding: 20px 0;
}

.section-news__heading{
    text-align: center;
}

.section-news__list {
    padding: 20px 0;
}

.section-news__list-publications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-news__list-publications li {
    width: 300px;
    font-size: 14px;
    margin: 20px 0 0 20px;
}

@media (max-width: 500px) {
    .section-news__list-publications li {width: 200px;}
}

.section-news__list-items-img {
    width: 300px;
    height: 200px;
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    .section-news__list-items-img  {width: 200px; height: 100px;}
}

.section-news__list-items-line {
    width: 80px;
    border-bottom: 3px solid tomato;
    margin: 10px 0;
}

