.section-conteiner {
    width: 100%;
    background-image: url(./img/f9371a8fa554687efc9c00f8721ae43e.jpg);
    background-color: #333333;
    color: white;
    padding: 20px 0; 
    height: 250px;
}

.section-conteiner__block {
    text-align: center;
    margin: auto;
    padding: 20px;
}

@media (min-width: 400px) {
    .section-conteiner__block {width: 400px;}
} 


.section-conteiner__block-heading {
    line-height: -10px;
    font-size: 18px;
}
.section-conteiner__button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-conteiner__button-click {
    background-color: tomato;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #333333;
    border: none;
} 
